# Backend DB
POSTGRES_USER=admin_rag
POSTGRES_PASSWORD=secure_pass
POSTGRES_DB=rag_mvp_db
POSTGRES_URL=postgresql://admin_rag:secure_pass@localhost:5432/rag_mvp_db

# Vector DB
QDRANT_URL=http://localhost:6333

# Message Broker
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_URL=amqp://guest:guest@localhost:5672/

# LLM Providers (Google AI Studio / Gemini)
GOOGLE_API_KEY=YOUR_API_KEY_HERE
EMBEDDING_MODEL=text-embedding-004
LLM_MODEL=gemini-1.5-flash

# API Configs
API_PORT=8000
LOG_LEVEL=INFO
